


body{
    font-family: 'Montserrat-Black', sans-serif;
}

#title{
  background-color: #ff4c68;
  color: #fff;

}
#main-dog{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-left: 2%;
  font-weight: bold;
}
h2{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;

}
.container-fluid{
  padding: 3% 15% 15%;
  color: #fff;

}


.navbar{
  padding-bottom: 4.5rem;
}

.nav-item{
  padding: 0 18px;

}

.nav-link{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 1.25rem;
  color: #fff;
}


.apple{
  margin: 6% 3% 5% 2%;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

@media (max-width: 1150px ) {
  .title-image{

    transform: rotate(0deg);
    position: static;
  }

}

.navbar-brand{
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;

}

.fa-check-circle{
  color: #ff4c68;
  font-size: 2rem;
  text-align: center;

}

.fa-bullseye{
  color: #ff4c68;
  font-size: 2rem;
  text-align: center;
}

.fa-heart{
  color: #ff4c68;
  font-size: 2rem;
  text-align: center;
}

#features{
  padding: 7% 15%;
  text-align: center;
  font-family: 'Montserrat-Black', sans-serif;
  background-color: #fff;
  position: relative;
  z-index: 1;


}
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.testimonial-image{
    width: 10%;
  border-radius: 100%


}

#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;

}
.press-logo{
  width: 15%;
  margin: 20px 20px;

}
.carousel-item{
  padding: 7% 15%;
}
#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-col{
  padding : 3% 2%;

}

#cta{
  background-color: #ff4c68;
  text-align: center;
  margin-bottom: 60px;
  font-family: 'Montserrat-Black', sans-serif;
  color: #fff;

}

.apple-btn{
  margin: 6% 3% 5% 2%;
}

h3{
  padding-top: 80px;
  font-size: 2.5rem;
  font-weight: bold;
}

#footer{
  text-align: center;
}

.copyright{
  padding: 20px;
}
